button {
    margin: var(--s0) 0;
    background: transparent;
    border: 5px solid var(--text);
    width: 10ch;
    padding: 0.5rem;
    font-size: var(--s0);
    font-weight: bold;
    padding-inline: 0;
}
button:hover {
    background: var(--text);
    color: white;
}