


#calculator--wrapper {
    padding: var(--s4) var(--s2) var(--s4);
    // width: 100px;
    display: flex;
    flex-direction: column;
    // background: var(--white);
    // box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.c-input {
    display: flex;
    flex-direction: column;
}

input {
    border: 0;
    width: 130px;
    border: none;
    background: transparent;
    border-bottom: 5px solid var(--text);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

#input--distance {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

select {
    display: block;
	font-size: var(--s-1);
	font-family: Helvetica, sans-serif;
	color: var(--text);
	padding: .4rem 1.4rem .3rem .8rem;
	width: 15ch;
	max-width: 100%;
    margin: 0;
    margin-inline-start: 1ch;
	border: 1px solid var(--text);
	border-radius: 2ch;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
	display: none;
}

.distance {
    display: flex;
    flex-direction: column;

    // margin-bottom: var(--s0);
}

.converter {
    margin-bottom: var(--s0);
}

#button--container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;

    & .reset {
        border: none;
        text-decoration: underline;
        &:hover {
            background: none;
            color: var(--text);
        }
    }

}

#output--container {
    display: flex;
    width: 18ch;
    flex-direction: row;
    justify-content: space-evenly;
}

#output--holder {
    width: 9ch;
    text-align: center;
    height: var(--s3);
    // padding-left: var(--s-4);
    // padding-right: var(--s-4);
    border-bottom: 5px solid var(--text);
}

[role="tabpanel"] {
    transition: height 2s;
    
}
