@import "base/reset";
@import "base/variables";
@import "base/utility";
@import "components/form";
@import "components/button";

* {
    box-sizing: border-box;
    font-size: clamp(var(--s1), 2vw, var(--s2));
    color: var(--text);
    line-height: 1.5;
}
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blue);

    background: linear-gradient(
        0.4turn,
        var(--pink) 20%,
        var(--blue) 20%,
        var(--blue) 80%,
        var(--purple) 80%
    ) no-repeat fixed;
    font-family: Helvetica, sans-serif;
}
#wrapper {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    border-radius: 2ch;
    box-shadow: 15px 20px 20px -20px rgba(0, 0, 0, 1);
    overflow: hidden;
}


#container {
    position:relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--white);
    // box-shadow: 0px -5px 15px -15px rgba(0,0,0,0.75);
    overflow: hidden;
}




